body{
	background-color: #f7f7f7;
}

.title-zong{
	position: fixed;
	z-index: 999;
	margin-bottom: .88rem;
}
.zuixinhuodong{
	height: .98rem;
	background-color: #f8f7f7;
	padding: 0 .24rem;
	/* margin-top: .88rem; */
	padding-top: .88rem;
}
.taiyang{
	width: .52rem;
	height: .52rem;
	float: left;
	margin-top: .24rem;
	box-shadow: 0 5px 16px 1px #f7edb9;
}
.wenzizuhe{
	width: 2.2rem;
	height: .7rem;
	margin-left: .13rem;
	margin-top: .2rem;
	float: left;
}
.hanzi{
	font-size: .25rem;
	color: #000;
	font-weight: bolder;
}
.yingyu{
	font-size: .15rem;
	color: #000;
	font-weight: normal;
}
.tiaozi{
	width: .79rem;
	height: .03rem;
	margin-top: .03rem;
}
.more{
	float: right;
	line-height: .98rem;
	color: #000;
	font-size: .16rem;
	font-weight: bolder;
}





.sheyingxirhui{
	width: 7.01rem;
	height: 4.68rem;
	background-color: #fff;
	margin: 0 auto;
	margin-top: .13rem;
	border-radius: .15rem;
}
.tupianwenzi{
	width: 7rem;
	height: 4rem;
	margin: 0 auto;
	border-bottom: .001rem solid #f6f5f5;
	position: relative;
}
.zuidasheyingtu{
	width: 100%;
	height: 2.96rem;
	border-top-left-radius: 0.15rem;
	border-top-right-radius: 0.15rem;
}
.xiafangwenzi1{
	width: 4.17rem;
	height: .3rem;
	margin-top: .2rem;
	margin-left: .2rem;
}
.jucanxingdong{
	font-size: .28rem;
	float: left;
	color: #534647;
}
.ONTHE{
	font-size: .16rem;
	float: left;
	color: #e72631;
	margin-left: .21rem;
	margin-top: .059rem;
	text-shadow: .05rem 0 .0001rem #f2a3a7; 
	font-style:italic;
	font-weight: bold;
}
.wenzihezi{
	width: 5.4rem;
	height: .3rem;
}
.iconwenzi1{
	font-family: 'iconfont';
	color: #e73239;
	font-size: .2rem;
	float: left;
	margin-top: .08rem;
	font-weight: bolder;
}
.jack{
	width: 6.8rem;
	height: .61rem;
	margin-top: .6rem;
}
.tu{
	width: .37rem;
	height: .37rem;
	background-color: white;
	border-radius: 50%;
	box-shadow: 0 0 .18rem .05rem #fbe7e9;
	font-family: 'iconfont'; 
	color: #ed7d85;
	font-size: .21rem;
	line-height: .37rem;
	text-align: center;
	font-weight: bolder;
	float: left;
	margin-top: .06rem;
}


.middle{
	width: 2.1rem;
	height: 100%;
	float: left;
	border-right: .02rem solid #f5f5f6;
	padding-right: .1rem;
	margin-right: .25rem;
}


.right{
	position: relative;
}
.right .tu{
	margin-right: .13rem;
}


.shanxi{
	width: 2.1rem;
	height: .61rem;
	float: left;
	margin-left: .18rem;
	position: relative;
	margin-right: .1rem;
	border-right: .02rem solid #f5f5f6;
}
.wzsx{
	font-size: .15rem;
	font-family: 'Archive';
}
.normal{
	font-size: .13rem;
	font-weight: normal;
	font-family: 'Archive';
}
.tiaotiao{
	position: absolute;
	top: .06rem;
	left: 1.45rem;
	width: .5rem;
	height: .05rem;
}
.txzh{
	width: 1.5rem;
	height: .33rem;
	margin-top: .15rem;
	float: left;
}
.join{
	font-size: .15rem;
	color: #e73239;
	margin-left: .12rem;
	float: left;
	margin-top: .15rem;
	font-weight: bolder;
}


.sdfg{
	font-size: .16rem;
}
.comment{
	font-size: .16rem;
	font-weight: normal;
}
.xindeyi{
	position: absolute;
	top: .08rem;
	left: 6.26rem;
	width: .5rem;
	height: .05rem;
}
.canjia{
	width: .94rem;
	height: 1.18rem;
	position: absolute;
	right: .44rem;
	bottom: .622rem;
}

.canjia2{
	bottom: .58rem;
}
.canjia3{
	bottom: .58rem;
}
.gc-item3{
	margin-bottom: 1.2rem;
}