*{
	margin: 0;
	text-decoration: none;
	padding: 0;/* 清除ul的默认格式 */
	list-style: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	outline: none;/* 清除input的获取焦点时候的边框 */

}
/* img默认有border大小，需要清除 */
img{
	border: 0;
	display: block;
}

@font-face {
  font-family: 'iconfont';  /* project id 537878 */
  src: url('https://at.alicdn.com/t/font_537878_vvkoada8n21vpldi.eot');
  src: url('https://at.alicdn.com/t/font_537878_vvkoada8n21vpldi.eot?#iefix') format('embedded-opentype'),
  url('https://at.alicdn.com/t/font_537878_vvkoada8n21vpldi.woff') format('woff'),
  url('https://at.alicdn.com/t/font_537878_vvkoada8n21vpldi.ttf') format('truetype'),
  url('https://at.alicdn.com/t/font_537878_vvkoada8n21vpldi.svg#iconfont') format('svg');
}